# Required
DECODO_API_KEY=

# Customize Decodo scraping behavior
DECODO_PROXY_POOL=
DECODO_HEADLESS_MODE=
DECODO_TIMEOUT_MS=
INSFORGE_TIMEOUT_MS=

# MONGODB
MONGODB_URI=
MONGODB_DB_NAME=
MONGODB_COLLECTION=

# OPENAI
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=

# SERPH
SERPH_API_KEY=
